<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/Head')%>
    <title>BlogVerse</title>
</head>
<body>
   <%- include('./Partials/Script')%>
   <%- include('./Partials/Nav')%>
</body>
</html>